In [6]:
!pip install numpy
!pip install pandas
#Importing Libraries
import re
import numpy as np
import pandas as pd
import datetime

Requirement already satisfied: numpy in /Users/dhairyarungta/opt/miniconda3/lib/python3.9/site-packages (1.24.2)
Requirement already satisfied: pandas in /Users/dhairyarungta/opt/miniconda3/lib/python3.9/site-packages (1.5.3)
Requirement already satisfied: pytz>=2020.1 in /Users/dhairyarungta/opt/miniconda3/lib/python3.9/site-packages (from pandas) (2023.2)
Requirement already satisfied: python-dateutil>=2.8.1 in /Users/dhairyarungta/opt/miniconda3/lib/python3.9/site-packages (from pandas) (2.8.2)
Requirement already satisfied: numpy>=1.20.3 in /Users/dhairyarungta/opt/miniconda3/lib/python3.9/site-packages (from pandas) (1.24.2)
Requirement already satisfied: six>=1.5 in /Users/dhairyarungta/opt/miniconda3/lib/python3.9/site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)

In [13]:
df = pd.read_csv('/Users/dhairyarungta/Downloads/mainDataset.csv')
df.head()

/var/folders/gk/1jp_3p2j6x50bn67_rtjv0kh0000gn/T/ipykernel_72922/3472697619.py:1: DtypeWarning: Columns (6,7,8,10,11,13,14) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('/Users/dhairyarungta/Downloads/mainDataset.csv')

,propertyPrice,propertyType,districtNo,propertyTenure,propertyPrivatePublic,statusBuyRent,propertyLevels,propertyProjectName_x,rentalRefPeriod,rentalPriceSqft,propertyProjectName_y,propertyDeveloperName_x,propertyUnitsAvail_x,propertyProjectName,propertyDeveloperName_y,propertyUnitsAvail_y
0,4600000.0,Terrace,5,999.0,Private,Buy,NaN,NaN,NaN,NaN,Normanton Park,Kingsford Huray Development Pte Ltd,1862.0,NaN,NaN,NaN
1,4600000.0,Terrace,5,999.0,Private,Buy,NaN,NaN,NaN,NaN,Kent Ridge Hill Residences,Oxley Spinel Pte Ltd,548.0,NaN,NaN,NaN
2,4600000.0,Terrace,5,999.0,Private,Buy,NaN,NaN,NaN,NaN,Parc Clematis,Sing-Haiyi Gold Pte Ltd,1468.0,NaN,NaN,NaN
3,4600000.0,Terrace,5,999.0,Private,Buy,NaN,NaN,NaN,NaN,Terra Hill,Hoi Hup Sunway Kent Ridge Pte Ltd,270.0,NaN,NaN,NaN
4,4600000.0,Terrace,5,999.0,Private,Buy,NaN,NaN,NaN,NaN,Clavon,United Venture Development (Clementi 1) Pte Ltd,640.0,NaN,NaN,NaN

In [18]:
myList = df['propertyType'].unique()
myList

array(['Terrace', 'Strata Terrace', 'Semi-detached', 'Apartment',
       'Detached', 'Condominium', 'Strata Semi-detached',
       'Strata Detached', 'Improved 2 ROOM', 'New Generation 3 ROOM',
       'New Generation 4 ROOM', 'DBSS 4 ROOM', 'Standard 5 ROOM',
       'Improved 5 ROOM', 'DBSS 5 ROOM', 'Apartment EXECUTIVE',
       'Maisonette EXECUTIVE', 'Improved 3 ROOM', 'Simplified 3 ROOM',
       'Simplified 4 ROOM', 'Model A 4 ROOM', 'Model A 5 ROOM',
       'Model A 3 ROOM', 'Premium Apartment 4 ROOM',
       'Premium Apartment 5 ROOM', 'Adjoined flat EXECUTIVE',
       'Adjoined flat 5 ROOM', 'Improved 4 ROOM',
       'Multi Generation MULTI-GENERATION', 'Model A-Maisonette 5 ROOM',
       'DBSS 3 ROOM', 'Model A 2 ROOM', 'Premium Apartment 3 ROOM',
       'Premium Apartment EXECUTIVE', 'Model A2 4 ROOM',
       'Premium Maisonette EXECUTIVE', '2-room 2 ROOM', 'Standard 3 ROOM',
       'Standard 2 ROOM', 'Adjoined flat 4 ROOM', 'Standard 4 ROOM',
       'Improved-Maisonette 5 ROOM', 'Premium Apartment Loft 5 ROOM',
       'Terrace 3 ROOM', 'Terrace 4 ROOM',
       'Premium Apartment Loft 4 ROOM', 'Premium Apartment 2 ROOM',
       'DBSS 2 ROOM', nan, 'Non-Landed', 'Strata-Landed / Non-Landed',
       'Landed', 'Exec Condo', 'Strata-Landed'], dtype=object)

In [20]:
print(df.value_counts(''))

Series([], dtype: int64)

In [ ]:
for i in myList 
    print(i+": ")
    print ()