In [28]:
import re
import numpy as np
import pandas as pd
import datetime
import json

In [29]:
df = pd.read_csv('mainDataset.csv')
df.head()

/var/folders/mh/v81m1y250dn_0ldgm6sxc3qc0000gn/T/ipykernel_62328/226050595.py:1: DtypeWarning: Columns (6,7,8,10,11,13,14) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('mainDataset.csv')

,propertyPrice,propertyType,districtNo,propertyTenure,propertyPrivatePublic,statusBuyRent,propertyLevels,propertyProjectName_x,rentalRefPeriod,rentalPriceSqft,propertyProjectName_y,propertyDeveloperName_x,propertyUnitsAvail_x,propertyProjectName,propertyDeveloperName_y,propertyUnitsAvail_y
0,4600000.0,Terrace,5,999.0,Private,Buy,NaN,NaN,NaN,NaN,Normanton Park,Kingsford Huray Development Pte Ltd,1862.0,NaN,NaN,NaN
1,4600000.0,Terrace,5,999.0,Private,Buy,NaN,NaN,NaN,NaN,Kent Ridge Hill Residences,Oxley Spinel Pte Ltd,548.0,NaN,NaN,NaN
2,4600000.0,Terrace,5,999.0,Private,Buy,NaN,NaN,NaN,NaN,Parc Clematis,Sing-Haiyi Gold Pte Ltd,1468.0,NaN,NaN,NaN
3,4600000.0,Terrace,5,999.0,Private,Buy,NaN,NaN,NaN,NaN,Terra Hill,Hoi Hup Sunway Kent Ridge Pte Ltd,270.0,NaN,NaN,NaN
4,4600000.0,Terrace,5,999.0,Private,Buy,NaN,NaN,NaN,NaN,Clavon,United Venture Development (Clementi 1) Pte Ltd,640.0,NaN,NaN,NaN

In [30]:
#Trying to list the number of houses with particular property type

#Extracting propertyType columns
myList = df['propertyType'].unique()
type(myList)
print(myList.shape)

#Converting to Python list
myList = np.ndarray.tolist(myList)
print(type(myList))

(54,)
<class 'list'>

In [31]:
print(myList)

['Terrace', 'Strata Terrace', 'Semi-detached', 'Apartment', 'Detached', 'Condominium', 'Strata Semi-detached', 'Strata Detached', 'Improved 2 ROOM', 'New Generation 3 ROOM', 'New Generation 4 ROOM', 'DBSS 4 ROOM', 'Standard 5 ROOM', 'Improved 5 ROOM', 'DBSS 5 ROOM', 'Apartment EXECUTIVE', 'Maisonette EXECUTIVE', 'Improved 3 ROOM', 'Simplified 3 ROOM', 'Simplified 4 ROOM', 'Model A 4 ROOM', 'Model A 5 ROOM', 'Model A 3 ROOM', 'Premium Apartment 4 ROOM', 'Premium Apartment 5 ROOM', 'Adjoined flat EXECUTIVE', 'Adjoined flat 5 ROOM', 'Improved 4 ROOM', 'Multi Generation MULTI-GENERATION', 'Model A-Maisonette 5 ROOM', 'DBSS 3 ROOM', 'Model A 2 ROOM', 'Premium Apartment 3 ROOM', 'Premium Apartment EXECUTIVE', 'Model A2 4 ROOM', 'Premium Maisonette EXECUTIVE', '2-room 2 ROOM', 'Standard 3 ROOM', 'Standard 2 ROOM', 'Adjoined flat 4 ROOM', 'Standard 4 ROOM', 'Improved-Maisonette 5 ROOM', 'Premium Apartment Loft 5 ROOM', 'Terrace 3 ROOM', 'Terrace 4 ROOM', 'Premium Apartment Loft 4 ROOM', 'Premium Apartment 2 ROOM', 'DBSS 2 ROOM', nan, 'Non-Landed', 'Strata-Landed / Non-Landed', 'Landed', 'Exec Condo', 'Strata-Landed']

In [32]:
newList = (df.value_counts(['propertyType']))
print(newList)

propertyType
Apartment                            81155
Condominium                          22322
Model A 4 ROOM                       21598
Improved 5 ROOM                      15882
New Generation 3 ROOM                 8066
Premium Apartment 4 ROOM              5189
Model A 3 ROOM                        5150
New Generation 4 ROOM                 4611
Improved 3 ROOM                       3983
Apartment EXECUTIVE                   3725
Premium Apartment 5 ROOM              3594
Maisonette EXECUTIVE                  2754
Simplified 4 ROOM                     2646
Model A2 4 ROOM                       1148
Model A 5 ROOM                        1127
Terrace                                965
Simplified 3 ROOM                      884
Standard 3 ROOM                        865
Strata Terrace                         850
Premium Apartment EXECUTIVE            847
Model A 2 ROOM                         834
DBSS 5 ROOM                            780
Standard 5 ROOM                        754
DBSS 4 ROOM                            691
Improved 4 ROOM                        635
Semi-detached                          474
Premium Apartment 3 ROOM               390
Non-Landed                             360
Detached                               223
Improved 2 ROOM                        214
DBSS 3 ROOM                            207
Standard 2 ROOM                        193
Model A-Maisonette 5 ROOM              181
Adjoined flat 5 ROOM                    87
Adjoined flat EXECUTIVE                 67
Multi Generation MULTI-GENERATION       46
Strata Detached                         38
Landed                                  32
Strata Semi-detached                    30
Premium Apartment Loft 4 ROOM           24
Exec Condo                              24
Premium Apartment 2 ROOM                19
Strata-Landed / Non-Landed              18
Improved-Maisonette 5 ROOM              18
Premium Maisonette EXECUTIVE            11
Strata-Landed                           11
Adjoined flat 4 ROOM                    10
Premium Apartment Loft 5 ROOM            9
Terrace 3 ROOM                           7
2-room 2 ROOM                            6
Standard 4 ROOM                          3
Terrace 4 ROOM                           2
DBSS 2 ROOM                              1
dtype: int64

In [33]:
newList.head()

propertyType
Apartment                81155
Condominium              22322
Model A 4 ROOM           21598
Improved 5 ROOM          15882
New Generation 3 ROOM     8066
dtype: int64

In [34]:
print(type(newList))

<class 'pandas.core.series.Series'>

In [35]:
#Converting newList to dictionary

newList.index = [x[0] for x in newList.index]

# convert to dictionary
newDict = newList.to_dict()

In [36]:
newDict

{'Apartment': 81155,
 'Condominium': 22322,
 'Model A 4 ROOM': 21598,
 'Improved 5 ROOM': 15882,
 'New Generation 3 ROOM': 8066,
 'Premium Apartment 4 ROOM': 5189,
 'Model A 3 ROOM': 5150,
 'New Generation 4 ROOM': 4611,
 'Improved 3 ROOM': 3983,
 'Apartment EXECUTIVE': 3725,
 'Premium Apartment 5 ROOM': 3594,
 'Maisonette EXECUTIVE': 2754,
 'Simplified 4 ROOM': 2646,
 'Model A2 4 ROOM': 1148,
 'Model A 5 ROOM': 1127,
 'Terrace': 965,
 'Simplified 3 ROOM': 884,
 'Standard 3 ROOM': 865,
 'Strata Terrace': 850,
 'Premium Apartment EXECUTIVE': 847,
 'Model A 2 ROOM': 834,
 'DBSS 5 ROOM': 780,
 'Standard 5 ROOM': 754,
 'DBSS 4 ROOM': 691,
 'Improved 4 ROOM': 635,
 'Semi-detached': 474,
 'Premium Apartment 3 ROOM': 390,
 'Non-Landed': 360,
 'Detached': 223,
 'Improved 2 ROOM': 214,
 'DBSS 3 ROOM': 207,
 'Standard 2 ROOM': 193,
 'Model A-Maisonette 5 ROOM': 181,
 'Adjoined flat 5 ROOM': 87,
 'Adjoined flat EXECUTIVE': 67,
 'Multi Generation MULTI-GENERATION': 46,
 'Strata Detached': 38,
 'Landed': 32,
 'Strata Semi-detached': 30,
 'Premium Apartment Loft 4 ROOM': 24,
 'Exec Condo': 24,
 'Premium Apartment 2 ROOM': 19,
 'Strata-Landed / Non-Landed': 18,
 'Improved-Maisonette 5 ROOM': 18,
 'Premium Maisonette EXECUTIVE': 11,
 'Strata-Landed': 11,
 'Adjoined flat 4 ROOM': 10,
 'Premium Apartment Loft 5 ROOM': 9,
 'Terrace 3 ROOM': 7,
 '2-room 2 ROOM': 6,
 'Standard 4 ROOM': 3,
 'Terrace 4 ROOM': 2,
 'DBSS 2 ROOM': 1}

In [37]:
#Converting newDict to json
with open('newDict.json', 'w') as json_file:
    json.dump(newDict, json_file)